<!DOCTYPE html>
<html>
    <body>
        <div align="center">
            <h1 id="replace-id">Product Information: replace-id-here</h1>
            <h2 id="replace-title">Product Title: replace-title-here</h2>
            <p><img id="replace-pic" src="img1.jpg"></p>
            <p id="replace-price">Price: replace-price-here</p>
            <p id="replace-seller">Seller: replace-seller-here</p>
            <p id="replace-auction">Auction Date: replace-auction-here</p>
            <p id="replace-query">Query Date: replace-query-here</p>
            <p id="replace-zip1">Your Zipcode: replace-zip1-here</p>
            <p id="replace-zip2">Seller's Zipcode: replace-zip2-here</p>
            <p id="replace-distance">Distance in KM: replace-distance-here</p>
        </div>
    </body>
</html>